@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
$white: rgb(255, 255, 255);
$Black: rgb(0, 0, 0);
$Dark-Gray: rgb(140, 140, 140);
$Very-Dark-Gray: rgb(105, 105, 105);
$body: 'Alata', sans-serif;
$headings:'Josefin Sans', sans-serif;
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $white;
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
%flex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
header{
    @extend %flex;
    height: 600px;
    width: 100% !important;
    position: relative;
    flex-direction: column;
    // justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.432);
    .header-background{
        height: 100%;
        width: 100vw !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        // filter: contrast(1.8)
    }

    nav{
        @extend %flex;
        position: absolute;
        top: 60px;
        justify-content: space-between !important;
        width: 80vw;
        img{
            z-index: 3;
        }
        .nav-active{
            transform: translateX(0);
            height: 100vh;
            width: 100vw;
        }
        ul{
            @extend %flex;
            list-style-type: none;
            width: 35%;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: $white;
                font-family: $body;
            }

        }
        // Hamburger
        .hamburger{
            display: none;
            z-index: 3;
            cursor: pointer;
            div{
                transition: all 0.5s;
                height: 2px;
                width: 25px;
                background-color: $white;
                margin: 4px;
            }
        } 
        .active {
            .bar1{
                transform: rotate(-45deg) translate(-4px,5px);
            }
            .bar2{
                opacity: 0;
            }
            .bar3{
                transform: rotate(45deg) translate(-4px,-6px);
            }
        }
    }
    .header-title{
        position: relative;
        border: 2px solid $white ;
        padding: 40px;
        width: 45vw;
        margin: auto auto auto 10vw;
        transform: translateY(15%);
        z-index: 1;
        h1{
            font-family: $headings;
            font-weight: 300;
            font-size: 65px;
            line-height: 60px;
            letter-spacing: 3px;
            color: white;
            text-transform: uppercase;
        }
    }
}

main{
    div.vr{
        overflow-x: hidden;

        width: 82vw;
        height: auto;
        margin: 0 auto;
        position: relative;

        img{
            margin:150px auto;
            height: auto;
            width: 650px;
        }
        div{
            padding:80px;
            width: 650px;
            height: auto;
            
            background-color: $white;
            z-index: 2;
            h2{
                font-family: $headings;
                font-weight: 300;
                margin: 10px auto 0 auto;
                text-transform: uppercase;
                font-size: 45px;

            }
            p{
                font-family: $body;
                color: $Dark-Gray;
                margin: 10px auto 0 auto;
                font-weight:400;
                line-height: 25px;
            }
        }
    }
    div.creations{
        width: 82vw;
        margin: auto auto 200px auto;
        @extend %flex;
        flex-direction: column;
        button{
            background: transparent;
            border: 2px solid $Black;
            text-transform: uppercase;
            font-family: $body;
            padding: 5px 35px;
            font-size: 18px;
            letter-spacing: 3px;
            
            font-weight: 400;
            align-self: center;
            &:hover{
                background-color: $Black;
                color: $white;
                transition: all 0.5s ease-in-out;
            }
        }
        .title{
            @extend %flex;
            // flex-direction: row;
            width: 100%;
            margin: 10px auto 40px auto;
            justify-content: space-between;

            h3{
                font-family: $headings;
                font-size: 45px;
                font-weight: 300;
                text-transform: uppercase;
            }
            
        }
        .products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .image{
                position: relative;
                margin: 9px;
                filter: brightness(95%);
                transition: all 0.4s ease-in;
                
                img{
                    filter: brightness(85%);
                    transition: all 0.4s ease-in;
                }
                span{
                    text-transform: uppercase;
                    font-family: $headings;
                    font-weight: 300;
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    color: $white;
                    font-size: 35px;
                    transition: all 0.4s ease-in;
                    z-index: 2;
                    width: 70%;
                    
                }
                &:hover img{
                    filter: opacity(0.2);
                }
                &:hover span{
                    color: $Black;
                }
            }
            
        }
    }
}
footer{
    height: 180px;
    width: 100%;
    background: $Black;
    color: $white;
    .footer-data{
        @extend %flex;
        width: 90vw;
        margin: auto;
        justify-content: space-between;
        .footer-left{
            padding: 30px;
            ul{
                margin-top: 20px;
                column-gap: 30px;
                list-style-type: none;
                display: flex;
                li{
                    cursor: pointer;
                    font-family: $body;
                    font-weight: 400;
                }
            }
        }
        .footer-right{
            padding: 30px;
            ul{
                margin-bottom: 20px;
                column-gap: 20px;
                list-style-type: none;
                display: flex;
                li{
                    cursor: pointer;
                   
                }
            }
            p{
                color: $Very-Dark-Gray;
                font-family: $body;
            }
        }
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        a{
            color: hsl(228, 45%, 44%);
        }
    }
}
@media (min-width: 900px) {
    .mobile{
        display: none;
    }
   main{
       div.vr{
            div{
                position: absolute;
                right: -40px;
                bottom: 75px;
            }
       }
   } 
}
@media (min-width:100px) and (max-width:900px) {
    .desktop{
        display: none;
    }
    .header-acive{
        height: 100vh;
        background-color: $Black;
    }
    header{
        transition: all 0.5s;
        overflow-x: hidden;
         nav{
             width: 90vw;
            .hamburger{
                display: block;
                
            }
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: absolute;
                transition: all 0.5s;
                top: -60px;
                left: -5vw;
                height: 0;
                width: 100vw;
                background-color: $Black;
                transform: translateX(100%);
                z-index: 2;
                li{
                    opacity: 0;
                    margin: 10px 20px;
                    a{
                        font-family: $headings;
                        text-transform: uppercase;
                        // letter-spacing: 1.5px;
                        font-size: 20px;
                        color: $white;
                    }
                }

            }
            
           
         }
         .header-title{
            width: 90vw;
            padding: 30px 15px;
            display: grid;
            place-items: center;
            margin: auto;
             h1{
                 font-size: 40px;
                 line-height: 44px;
             }
         }
    }
    main{
        div.vr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            flex-direction: column;
            padding: 10px;
            img{
                width: 80vw;
                margin: 100px auto 10px auto;
    
            }
            div{
                width: 110vw;
                padding: 10px;
                // background-color: rgb(65, 55, 55);
                // left: 0;
                h2{
                    font-size: 38px;
                    margin: 40px 0 20px 0;
                    width: 100vw;
                    text-align: center;
                }
                p{
                    text-align: center;
                    line-height:28px;
                    width: 70%;

                    margin: 20px auto 40px auto;
                }
    
            }
    
        }
        
        div.creations{
            width: 100vw;
            margin: auto;
            button{
                margin: 30px auto 130px auto;
            }
            .title h3{
                width: 100vw;
                font-size: 38px;
                text-align: center;
                margin: auto;

            }
            .image{
                width: 80vw;
                img{
                    width: 100%;
                }
                span{
                    width: 50% !important;
                }
            }
        }
        
    }
    footer{
        height: 100%;
        .footer-data{
            flex-direction: column;

            .footer-left{
                align-items: center;
                ul{
                   
                    align-items: center;
                    row-gap: 10px;
                    flex-direction: column;
                }
            }
            .footer-right{
                display: flex;
                flex-direction: column;
                align-items: center;
                ul{
                    column-gap: 30px;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    
}
@keyframes fade {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}